.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  .pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      background-color: #ccc;

      &.active {
        background-color: #ebaeae;
      }
    }
  }
  span {
    margin: 0 10px;
  }
}
