.card-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title-box {
  display: flex;
  gap: 100px;
}

h3 {
  text-align: center;
  padding: 5px 0;
}

.result-box-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 35px;
  width: 700px;
}
