.home-page {
  margin: 0 auto;
}
.search-and-paginate-container {
  padding: 10px;
}

.cards-detail-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;

  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
