.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
  border: black 1px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.cardBox {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.clickDetail {
  cursor: pointer;
  padding: 20px 0 5px 0;
  color: blue;

  &:hover {
    color: red;
  }
}

.title {
  width: 150px;
}

.favoriteBox {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: flex-end;
}

.icon {
  font-size: 24px;
}
