.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.resultErrorDescription {
  border: 1px solid black;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
