.main-box {
  gap: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.error-message {
  color: red;
  font-weight: bold;
  margin: 20px 0;
}

.no-results-message {
  color: gray;
  font-weight: bold;
  margin: 20px 0;
}
